/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #333;
  --text: #fff;
}

/* Base */
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.85;
  padding: 1vh 6vw;
  font-size: 1.2rem;
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em 0;
  font-weight: 700;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 86%;
  display: block;
  margin: 2vh auto;
  opacity: 0.3;
  <<<<<<< HEAD=======
}

ul {
  display: flex;
  gap: .5em;
  >>>>>>>b4afbfca1fa99d4c1957ca25feb27033b5c53b41
}