/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.85;
  padding: 1vh 6vw;
  color: #345;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.75em 0;
  font-weight: 700;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
